.nowrap {
    white-space: nowrap;
}

body:not(.firstSlide) .panel.top .center .menu {
    display: none !important;
}

.loginMenu {
    display: none !important;
}

.lang-select {
    font-size: 14px !important;
}

.lang-select a {
    padding: 5px 10px 4px 11px;
    margin-right: 0.25rem;
    border-radius: 8px;
}

.lang-select a.active {
    background-color: #2196F3;
}

.whiteSlide .lang-select a.active {
    background-color: #303030;
    color: #FFF;
}

.whiteSlide .lang-select a:not(.active) {
    color: #303030;
    font-weight: 700;
}

.stage-2 .lang-select a {
    /*display: none !important;*/
}

.panel.bottom .center > * {
    font-size: 1.0rem;
    margin: 0 1.5rem;
    font-weight: 300;
    color: rgba(255,255,255,1);
}

.panel.bottom .center > span {
    color: rgba(255,255,255,0.5);
}

.whiteSlide .panel.bottom .center > *,
.lastSlide .panel.bottom .center > * {
    display: none;
}

.button.actionButton,
.button.actionButton:hover {
    background: transparent;
    box-shadow: none;
}

.slides.whiteSlide .panel .button.actionButton svg {
    fill: #303030 !important;
}

.sidebar .close {
  opacity: 1;
}

.sidebar:hover .close:hover {
  opacity: 0.5;
}

.sidebar a,
.sidebar .close svg {
    color: #303030;
    fill: #303030;
}

.fade.fade-blue .content {
    background: rgba(18,78,128,0.75);
    outline: 2px solid rgba(27,117,191,0.75);
}

.slide .background.home-bg {
    background: url('../assets/img/home__bg.jpg') no-repeat center center; background-size: cover;
}

.slide .background.affiliates-bg {
    background: url('../assets/img/affiliates__bg.jpg') no-repeat center center; background-size: cover;
}

.h2--slogan, .h2--header {
    text-transform: none;
    line-height: 1.17;
    letter-spacing: 0;
    font-family: "Raleway";
    font-weight: 600;
}

.h2--slogan {
    font-size: 52px;
}

.h2--header {
    font-size: 72px;
    margin-bottom: 1.0rem;
}

.h2--slogan span {
    color: #ffff66;
    white-space: nowrap;
}

.p--responsive {
    font-size: 26px;
}

.p--responsive a {
    color: #80c6ff;
    font-weight: 700;
}

.slide .button.hero-btn {
    padding: 18px 33px;
}

.cell-71:hover {
    background: #2196F3;
    color: #ffffff;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px rgba(41,41,41,0.2);
    box-shadow: 0 0 0 1px rgba(41,41,41,0.2);
}

/*.cell-71.empl-bg, .cell-71.cont-bg, .cell-71.affl-bg {
    background-position: center center;
}

.cell-71.empl-bg, .cell-71.cont-bg, .cell-71.affl-bg, .cell-71 svg.hide-small, .cell-71 .h2--header, .cell-71 .p--responsive {
    -webkit-transition: .15s !important;
    transition: .15s !important;
    -webkit-transition-delay: 0 !important;
    transition-delay: 0 !important;
}

.cell-71.empl-bg:hover {
    background: #2196F3 url('../assets/img/employers__btn--bg.jpg') no-repeat center center;
    background-size: cover;
}

.cell-71.cont-bg:hover {
    background: #2196F3 url('../assets/img/contractors__btn--bg.jpg') no-repeat center center;
    background-size: cover;
}

.cell-71.affl-bg:hover {
    background: #2196F3 url('../assets/img/affiliates__btn--bg.jpg') no-repeat center center;
    background-size: cover;
}*/

.cell-71 .loginNav {
    margin-bottom: 100px;
}

.cell-71 svg.hide-small {
    display: none !important;
}

.slide.whiteSlide .cell-71:hover svg {
    stroke: #fff;
    fill: #fff;
}

.cell-71 h3 {
    color: #2196F3;
    -webkit-transition: .15s;
    transition: .15s;
}

.cell-71:hover h3 {
    color: #ffffff;
}

.grid-71 .cell-71:after { background:rgba(255,255,255,0.125); }
.slide.whiteSlide .grid-71 .cell-71:after { background:rgba(0,0,0,0.125); }

@media screen and (max-width:1280px) {
    .h2--slogan, .h2--header {
        font-size: 50px;
    }

    .p--responsive {
        font-size: 24px;
    }
}

@media screen and (max-width:1024px) {
    .slide .background.affiliates-bg {
        background: url('../assets/img/affiliates__bg.jpg') no-repeat 70% center; background-size: cover;
    }

    .h2--slogan, .h2--header {
        font-size: 40px;
    }

    .p--responsive {
        font-size: 21px;
    }

    .loginNav {
        margin-bottom: 0;
        max-width: 320px !important;
    }

    .cell-71, .cell-71:hover {
        white-space: nowrap;
        padding: 0.5rem 0.5rem 1.0rem;
        margin-bottom: 1.25rem;
        border-radius: 100px;
        -webkit-transition:0.25s !important;
        transition:0.25s !important;
    }

    /*.cell-71.empl-bg, .cell-71.cont-bg, .cell-71.affl-bg, .cell-71.empl-bg:hover, .cell-71.cont-bg:hover, .cell-71.affl-bg:hover {
        background: #2196F3;
    }*/

    .cell-71 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
        box-shadow: inset 0 -100px 0 rgba(41,41,41,0);
        -webkit-appearance: none;
    }

    .cell-71:hover {
        -webkit-box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1) !important;
        box-shadow: inset 0 -100px 0 rgba(41,41,41,0.15), 0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1) !important;
    }

    .cell-71:active {
        transition: -webkit-transform 0.25s, opacity 0.25s, position 0s !important;
        -webkit-transition: -webkit-transform 0.25s, opacity 0.25s, top 0.25s !important;
        -webkit-box-shadow: inset 0 -100px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,.1),0 0px 10px 0 rgba(0,0,0,.1),0 1px 4px -1px rgba(0,0,0,.1) !important;
        box-shadow: inset 0 -100px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,.1),0 0px 10px 0 rgba(0,0,0,.1),0 1px 4px -1px rgba(0,0,0,.1) !important;
        top: 1px;
    }

    .cell-71 svg.hide-small {
        display: inline-block !important;
    }

    .cell-71 svg.show-small {
        display: none !important;
    }

    .cell-71 svg, .cell-71 h3 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cell-71 svg, .cell-71:hover svg {
        position: relative;
        top: 4px;
        margin-right: 0.5rem;
        fill: #FFF !important;
        stroke: #FFF !important;
    }

    .cell-71 svg {
        height: 24px; width: 30px;
        fill: rgba(255, 255, 255, 0.5) !important;
        stroke: none !important;
    }

    .cell-71:hover svg {
        height: 24px; width: 38px;
        fill: rgba(255, 255, 255, 0.75) !important;
        stroke: none !important;
    }

    .cell-71 h3, .cell-71:hover h3 {
        color: #FFF;
    }

    .cell-71 p {
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    .loginMenu {
        display: block !important;
        margin: 1.5rem 0 1.5rem;
    }

    .loginMenu li {
        display: inline-block !important;
        margin-bottom: 1.0rem;
    }

    .h2--slogan, .h2--header {
        font-size: 30px;
        text-transform: none;
        line-height: 1.25;
        letter-spacing: 0;
        font-weight: 600;
    }

    .p--responsive {
        font-size: 18px;
    }
}

@media screen and (max-width:570px) {
    .slide .background.home-bg {
        background: url('../assets/img/home__bg.jpg') no-repeat 80% center; background-size: cover;
    }

    .loginNav {
        max-width: none !important;
    }

    .stage-2 .h2--header {
        text-align: left;
    }
}

@media screen and (max-width:435px) {
    .h2--header {
        margin-top: 1.0rem;
        margin-bottom: 1.0rem;
    }

    .p--responsive {
        font-size: 16px;
    }

    .slide .button.hero-btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding: 12px 22px;
    }

    .wrap-left {
        text-align: left !important;
    }

    .loginMenu {
        display: block !important;
        margin: 0.5rem 0 2.5rem;
    }

    .loginMenu li {
        display: block !important;
        margin-right: 1.0rem;
    }

    .loginMenu li:last-child {
        margin-right: 0;
    }

    .cell-71 h3 {
        font-size: 16px;
    }
}



.animated.stage-2 .animate [class*="ae-"]:not(.done) {
  -webkit-transition-duration:1s;
  transition-duration:1s;
}

.animated.stage-2	.animate .ae-1:not(.done) 	{ -webkit-transition-delay:	10ms; transition-delay:	10ms; }
.animated.stage-2	.animate .ae-2:not(.done) 	{ -webkit-transition-delay:	210ms; transition-delay:	210ms; }
.animated.stage-2	.animate .ae-3:not(.done) 	{ -webkit-transition-delay:	420ms; transition-delay:	420ms; }
.animated.stage-2	.animate .ae-4:not(.done) 	{ -webkit-transition-delay:	630ms; transition-delay:	630ms; }
.animated.stage-2	.animate .ae-5:not(.done) 	{ -webkit-transition-delay:	840ms; transition-delay:	840ms; }
.animated.stage-2	.animate .ae-6:not(.done) 	{ -webkit-transition-delay:	1050ms; transition-delay:	1050ms; }
.animated.stage-2	.animate .ae-7:not(.done) 	{ -webkit-transition-delay:	1260ms; transition-delay:	1260ms; }
.animated.stage-2	.animate .ae-8:not(.done) 	{ -webkit-transition-delay:	1470ms; transition-delay:	1470ms; }
.animated.stage-2	.animate .ae-9:not(.done) 	{ -webkit-transition-delay:	1680ms; transition-delay:	1680ms; }
.animated.stage-2	.animate .ae-10:not(.done) { -webkit-transition-delay:	1890ms; transition-delay:	1890ms; }
